body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    background-image: linear-gradient(180deg, #0091E2, #0A4194);
}

html {
    scroll-behavior: smooth;
}

* { /*Set sizing perfect. */
    box-sizing: border-box; /* Apply to all elements */
}

/* Top Navigation */
#TopNavBar{
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start; 
    z-index: 100; 
}
#TopNavBar span{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
#SRCB_BackgroundIMG{
    opacity: 0.1;
    position: absolute;
    right: -2.3%;
    top: -270%;
    height: 900%;
}

#SRCB_BackgroundIMG2{
    opacity: 0.1;
    position: absolute;
    left: 50%; /* Position from the left */
    transform: translate(-50%); 
    z-index: -1;
    top: 16vh;
    height: 70vh;
}


#LogoutBtn{
    margin-right: 3%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    height: 33px;
    color: #0A4194;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background 0.2s;
}
#LogoutBtn img{
    height: 20px;
    margin-right: 5px;
}
#LogoutBtn:hover{
    background-color: #db6060;
}

#toggle-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
}

#SideBarNav.open {
    transform: translateX(-100%); /* Show sidebar */
}
#SideBarNav{
    padding-top: 120px;
    position: absolute;
    width: 220px;
    height: 100%;
    z-index: 10;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
    transform: translateX(0%); /* Hidden by default */
}

#SideBarNav button{
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #FFFF;
    border: none;
    font-weight: 500;
    color: #0A4194;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.2s;
}

#SideBarNav button:hover{
    background-color: #d5e1ff;
}

#SideBarNav img{
    height: 25px;
    margin-right: 10px;
    margin-left: 15px;

}

#ActBtn{
    background-image: linear-gradient(-90deg, #eeeeee, #e4e4e4);
}













/* ITEM TABLE AREA */
#TableCase {
    background-color: #f0f0f0;
    height: 47vh;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
}


#ItemListArea {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    text-align: center;
    border-radius: 10px;
    width: 70vw;
    height: 89vh;
    background-color: #fefefe;
    padding: 10px;
    z-index: 3;
    position: absolute;
    top: 54%; /* Position it at the center vertically */
    left: 50%; /* Position it at the center horizontally */
    transform: translate(-50%, -50%); /* Adjust to ensure true centering */
}

#ItemListArea h1 {
    line-height: 10px;
    color: #1a54ab;
    font-size: 25px;
}

#TableCase6 {
    background-color: #dbdbdb;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
}

#ItemListArea table {
    border-collapse: collapse;
    width: 100%;
}

#ItemListArea th {
    background-color: #1a54ab;
    color: #fff;
    position: sticky;
    /* Make the header sticky */
    top: 0;
    /* Stick to the top */
    z-index: 1;
    /* Ensure it stays above other content */
}

#ItemListArea td {
    padding-left: 10px;
    padding-right: 10px;
    color: #1a54ab;
    user-select: none;
    white-space: nowrap;
    /* Prevents text from wrapping to a new line */
    overflow: hidden;
    /* Hides overflow text */
    text-overflow: ellipsis;
    /* Displays "..." for truncated text */
    max-width: 100px;
}

#ItemListArea tr:nth-child(even) {
    background-color: #ffffff;
}

#ItemListArea tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#ItemListArea span {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.specialSpan {
    align-content: center;
}
#TypeComboBox{
    margin-left: auto;
}
#ActionComboBox{
    margin-left: 10px;
}

.specialSpan select {
    padding-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    border: 2px solid #e2e2e2;
    background-color: #374c6c;
    color: #fff;
    font-weight: bold;
}

#ViewDetailsBtn {
    margin-top: 5px;
    border-radius: 10px;
    opacity: 0.5;
    height: 40px;
    border: none;
    border: 0.3px solid rgb(97, 97, 97);
    background-color: #2362c0;
    color: #fff;
    font-weight: bold;
}

#ViewDetailsBtn:hover {
    background-color: #12499a;
}

#AddItemBtn {
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    margin-left: auto;
    height: 40px;
    border: none;
    border: 0.3px solid rgb(97, 97, 97);
    background-color: #134794;
    color: #fff;
    font-weight: bold;
}

#AddItemBtn:hover {
    background-color: #093d8b;
}

#AllItemsTable th{
    width: 10%;
}

/* ITEM TABLE AREA */


