body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;

}

html {
    scroll-behavior: smooth;
}

* { /*Set sizing perfect. */
    box-sizing: border-box; /* Apply to all elements */
}

#FullBody{
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: linear-gradient(180deg, #0091E2, #0A4194);
}


.ReservationHeader{
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    z-index: 2;
    position: absolute;
    top: 10%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); 
}



/* Top Navigation */
#TopNavBar{
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start; 
    z-index: 100; 
}
#TopNavBar span{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
#SRCB_BackgroundIMG{
    opacity: 0.1;
    position: absolute;
    right: -2.3%;
    top: -270%;
    height: 900%;
}

#SRCB_BackgroundIMG2{
    opacity: 0.1;
    position: absolute;
    left: 50%; /* Position from the left */
    transform: translate(-50%); 
    z-index: 1;
    top: 8vw;
    height: 70vh;
}


#LogoutBtn{
    margin-right: 3%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0;
    height: 33px;
    color: #0A4194;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background 0.2s;
}
#LogoutBtn img{
    height: 20px;
    margin-right: 5px;
}
#LogoutBtn:hover{
    background-color: #db6060;
}

#toggle-btn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
}

#SideBarNav.open {
    transform: translateX(-100%); /* Show sidebar */
}
#SideBarNav{
    padding-top: 120px;
    position: absolute;
    width: 220px;
    height: 100%;
    z-index: 10;
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
    transform: translateX(0%); /* Hidden by default */
}

#SideBarNav button{
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #FFFF;
    border: none;
    font-weight: 500;
    color: #0A4194;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.2s;
}

#SideBarNav button:hover{
    background-color: #d5e1ff;
}

#SideBarNav img{
    height: 25px;
    margin-right: 10px;
    margin-left: 15px;

}

#ReservationBtn{
    background-image: linear-gradient(-90deg, #eeeeee, #e4e4e4);
}









/*Pending Area*/

#PendingArea{
    border-radius: 10px;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 35vw;
    height: 60vh;
    background-color: #fefefe;
    padding: 10px;
}

#PendingArea h1{
    line-height: 10px;
    color: #1a54ab;
    font-size: 20px;
}

#TableCase{
    background-color: #f0f0f0;
    height: 47vh;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
}

#PendingArea table{
    border-collapse: collapse;
    width: 100%;
}
#PendingArea th{
    background-color: #1a54ab;
    color: #fff;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
}

#PendingArea td{
    padding-left: 10px;
    padding-right: 10px;
    color: #1a54ab;
    user-select: none;
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;           /* Hides overflow text */
    text-overflow: ellipsis;   /* Displays "..." for truncated text */
    max-width: 100px;  
}
#PendingArea tr:nth-child(even) {
    background-color: #ffffff;
}
#PendingArea tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#PendingArea span{
    margin-top: 10px;
    display: flex;
}
#PendingDetailsBtn{
    opacity: 0.5;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #fff;
    border-radius: 30px;
    background-color: #1a54ab;
    padding-left: 10px;
    padding-right: 10px;
}
#PendingViewMoreBtn{
    margin-left: auto;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #1a54ab;
    border-radius: 30px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

/*Pending Area*/









/*Approved Area*/

#ApprovedArea{
    border-radius: 10px;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 35vw;
    height: 60vh;
    background-color: #fefefe;
    padding: 10px;
}

#ApprovedArea h1{
    line-height: 10px;
    color: #1a54ab;
    font-size: 20px;
}

#TableCase2{
    background-color: #f0f0f0;
    height: 47vh;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
}

#ApprovedArea table{
    border-collapse: collapse;
    width: 100%;
}
#ApprovedArea th{
    background-color: #1a54ab;
    color: #fff;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
}

#ApprovedArea td{
    padding-left: 10px;
    padding-right: 10px;
    color: #1a54ab;
    user-select: none;
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;           /* Hides overflow text */
    text-overflow: ellipsis;   /* Displays "..." for truncated text */
    max-width: 120px; 
}
#ApprovedArea tr:nth-child(even) {
    background-color: #ffffff;
}
#ApprovedArea tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#ApprovedArea span{
    margin-top: 10px;
    display: flex;
}
#ApprovedDetailsBtn{
    opacity: 0.5;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #fff;
    border-radius: 30px;
    background-color: #1a54ab;
    padding-left: 10px;
    padding-right: 10px;
}
#ApprovedViewMoreBtn{
    margin-left: auto;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #1a54ab;
    border-radius: 30px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

/*Approved Area*/









#ApproveBtn{
    background-color: transparent;
    border: none;
    opacity: 0.7;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate( -50%, -50%); 
    z-index: 3;
    height: 6vw;
    transition: transform 0.2s ease; /* Smooth transition for scaling */
}
#ApproveBtn:hover{
    transform: translate(-50%, -50%) scale(1.1); 
}

#ApproveBtn img{
    height: 6vw;
}






/* Pending Details Form */

#ViewPendingReserv{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: none; /*SET NONE IF DEPLOY*/
    justify-content: center; 
    align-items: center;   
    z-index: 3;
}


.DarkBackground{
    background-color: #000000;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.6;
}

#PendingDetailsForm{
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: left;
    text-align: center;
    border-radius: 1vw;
    height: 530px;
    width: 700px;
    background-color: #fff;
    z-index: 2;
}

#PendingDetailsForm h1{
    color: #0e418f;
}

#PendingDetailsForm span{
    background-color: #ececec;
    color: #156c9f;
    display: flex;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 20px;


}

#viewmessagecontainer{
    color: #156c9f;
    display: flex;
    align-items: flex-start; 
    background-color: #ececec;
    border-radius: 20px;
}
#viewmessagecontainer2{
    top: 0;
    width: 100%;
    max-height: 100px;     
    overflow-y: auto;      
    text-align: left;     
    padding-left: 10px;        
    padding-right: 10px;       
    height: 100px;
}
#viewRes_message{
    line-height: 22px;   
    width: 100%;
    word-wrap: break-word; 
}
#PendingDetailsForm h2, p{
    line-height: 11px;
    font-size: 16px;
}

#PendingDetailsForm h2{
    color: #0e418f;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

#exitbtn1 {
    font-weight: bold;
    position: absolute;
    border: none;
    background-color: #8b0606;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    transition: background-color 0.2s;
    display: flex;         
    justify-content: center;
    align-items: center;   
    font-size: 16px;     
    user-select: none;
}
#exitbtn1:hover{
    background-color: #6b0303;
}

#schedDetailsBox1{
    position: absolute;
    background-color: #f0f0f0;
    height: 260px;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
    right: 30px;
    top: 90px;
    width: 43%;
}

#PendingDetailsForm table{
    border-collapse: collapse;
    width: 100%;
}

#PendingDetailsForm th{
    background-color: #0e418f;
    color: #fff;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
}

#PendingDetailsForm td{
    color: #1a54ab;
    user-select: none;
}
#PendingDetailsForm tr:nth-child(even) {
    background-color: #ffffff;
}
#PendingDetailsForm tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#ApproveBtn2{
    margin-top: 10px;
    width: 120px;
    margin-left: auto;
    background-color: #037620;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #fff;
}
#ApproveBtn2:hover{
    background-color: #03611a;
}
/* Pending Details Form */










/* APPROVE Details Form */

#ViewApprovedReserv{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: none; /*SET NONE IF DEPLOY*/
    justify-content: center; 
    align-items: center;   
    z-index: 5;
}


.DarkBackground{
    background-color: #000000;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.6;
}

#ApprovedDetailsForm{
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: left;
    text-align: center;
    border-radius: 1vw;
    height: 560px;
    width: 800px;
    background-color: #fff;
    z-index: 2;
}

#ApprovedDetailsForm h1{
    color: #0e418f;
}

#ApprovedDetailsForm span{
    background-color: #ececec;
    color: #156c9f;
    display: flex;
    align-items: center;
    text-align: center;

    height: 35px;
    width: 368px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#ColRowsss{
    width: 100%;
    color: #156c9f;
    display: flex;
    align-items: flex-start; 
}

#viewmessagecontainer4{
    top: 0;
    width: 100%;
    max-height: 120px;     
    overflow-y: auto;      
    text-align: left;     
    padding-left: 10px;        
    padding-right: 10px;       
    height: 100%;
}

#viewRes_message2{
    line-height: 22px;   
    width: 100%;
    word-wrap: break-word; 
}
#ApprovedDetailsForm h2, p{
    line-height: 11px;
    font-size: 16px;
}

#ApprovedDetailsForm h2{
    color: #0e418f;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

#exitbtn2 {
    font-weight: bold;
    position: absolute;
    border: none;
    background-color: #8b0606;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    transition: background-color 0.2s;
    display: flex;         
    justify-content: center;
    align-items: center;   
    font-size: 16px;     
    user-select: none;
}
#exitbtn2:hover{
    background-color: #6b0303;
}

#schedDetailsBox2{
    position: absolute;
    background-color: #f0f0f0;
    height: 250px;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
    right: 30px;
    top: 90px;
    width: 45%;
}

#ApprovedDetailsForm table{
    border-collapse: collapse;
    width: 100%;
}

#ApprovedDetailsForm th{
    background-color: #0e418f;
    color: #fff;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
}

#ApprovedDetailsForm td{
    color: #1a54ab;
    user-select: none;
}
#ApprovedDetailsForm tr:nth-child(even) {
    background-color: #ffffff;
}
#ApprovedDetailsForm tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#ApproveBtn2{
    margin-top: 10px;
    width: 120px;
    margin-left: auto;
    background-color: #037620;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #fff;
}
#ApproveBtn2:hover{
    background-color: #03611a;
}

#case2, #case3 {
    width: 50%; /* Set both to 50% */
    box-sizing: border-box; /* Include padding and border in width */
}
#case2 {
    display: flex;
    background-color: #ececec;
    height: 95%;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
}

#cancelreservbtn{
    width: 120px;
    margin-left: auto;
    background-color: #931a0f;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #fff;
}
#cancelreservbtn:hover{
    background-color: #7d1107;
}

#case3 span{
    width: 100%;
}
/* APPROVE Details Form */

#CancelMessageSubmit{
    background-color: #b8b51c;
    border: none;
    border-radius: 0.3vw;
    color: #fff;
    height: 2vw;
    width: 5vw;
    font-size: 1vw;
    margin-right: 2vw;
}

#CancelMessageForm{
line-height: 0;
text-align: center;
color: #10489b;

}

#CancelMessage{
    background-color: #a31414;
    border: none;
    border-radius: 0.3vw;
    color: #fff;
    height: 2vw;
    width: 5vw;
    font-size: 1vw;
}
#CancelMessageInput{
    color: #112c54;
    border: none;
    background-color: #f2f2f2;
    font-size: 0.95vw;
    resize: none;
    width: 100%;
    height: 67%;
}
#Buttonsss{
    display: flex;
    bottom: 1vw;
    left: 50%;
    transform: translate(-50%); 
    position: absolute;

}

#CancelingAreaaa{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: none; /*SET NONE IF DEPLOY*/
    justify-content: center; 
    align-items: center;   
    z-index: 9;
}
#CancelMessageForm{
    position: absolute;
    padding: 1vw;
    background-color: #fff;
    width: 30vw;
    height: 17vw;
    border-radius: 0.5vw;
    z-index: 1;
}





/* ALL APPROVED RESERVATION LIST */
#AllApprovedReservationList{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: none; /*SET NONE IF DEPLOY*/
    justify-content: center; 
    align-items: center;   
    z-index: 3;
}

#TableCase{
    background-color: #f0f0f0;
    height: 47vh;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
}

#ApprovedArea,
#PendingArea{
    z-index: 3;
}
#AllApprovedArea{
    display: flex;
    flex-direction: column; 
    align-items: left;
    text-align: center;
    border-radius: 10px;
    width: 700px;
    height: 550px;
    background-color: #fefefe;
    padding: 10px;
    z-index: 2;
    position: absolute;
}

#AllApprovedArea h1{
    line-height: 10px;
    color: #1a54ab;
    font-size: 20px;
}

#TableCase6{
    background-color: #dbdbdb;
    height: 390px;
    overflow-y: auto; 
    max-height: 100%;
    overflow-x: hidden;
}

#AllApprovedArea table{
    border-collapse: collapse;
    width: 100%;
}
#AllApprovedArea th{
    background-color: #1a54ab;
    color: #fff;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
}

#AllApprovedArea td{
    padding-left: 10px;
    padding-right: 10px;
    color: #1a54ab;
    user-select: none;
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;           /* Hides overflow text */
    text-overflow: ellipsis;   /* Displays "..." for truncated text */
    max-width: 100px;  
}
#AllApprovedArea tr:nth-child(even) {
    background-color: #ffffff;
}
#AllApprovedArea tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#AllApprovedArea span{
    margin-top: 10px;
    display: flex;
}

#exitbtn6 {
    font-weight: bold;
    position: absolute;
    border: none;
    background-color: #8b0606;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    transition: background-color 0.2s;
    display: flex;         
    justify-content: center;
    align-items: center;   
    font-size: 16px;     
    user-select: none;
}
#exitbtn6:hover{
    background-color: #6b0303;
}

#AllApprovedArea span{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}
#StatusComboBox{
    margin-right: 3px;
    border-radius: 10px;
    border: none;
    border: 0.3px solid rgb(97, 97, 97);
    background-color: #1a54ab;
    color: #fff;
    font-weight: bold;
}
#SearchBarAllApproved{
    width: 100%;
    border-radius: 10px;
    border: none;
    border: 0.3px solid rgb(97, 97, 97);
    background-color: #e4e4e4;
}
#ViewDetailsBtn{
    margin-top: 15px;
    border-radius: 10px;
    opacity: 0.5;
    height: 30px;
    border: none;
    border: 0.3px solid rgb(97, 97, 97);
    background-color: #2362c0;
    color: #fff;
    font-weight: bold;
}
#ViewDetailsBtn:hover{
    background-color: #12499a;
}
