body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-190deg, #0091E2, #0A4194);
    height: 100vh;    
}

#DisplayItemsHere {
    display: flex;               /* Enable flexbox layout */
    flex-wrap: wrap;             /* Allow items to wrap onto the next line */
    margin-top: 10px;
    max-height: 360px;           /* Limits the container's height */
    overflow-y: auto;            /* Enables vertical scrolling if content exceeds max-height */
    width: 96%;
}


#background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#backgroundImg{
    margin-left: 80vw;
    height: 39vw;
    opacity: 0.1;
}

html {
    scroll-behavior: smooth;
}

* { /*Set sizing perfect. */
    box-sizing: border-box; /* Apply to all elements */
}

h1{
    line-height: 20px;
    color: #0A4194;
}
#FormBox{
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    
    border-radius: 1vw;
    height: 560px;
    width: 950px;
    background-color: #fff;
}

#OuterTable{
    width: 90%;
}
form{
    width: 100%;
}
th, td {
   /* border: 1px solid black;  Add border to each cell */
    padding: 8px;           /* Add padding for better appearance */
    text-align: left;       /* Align text to the left */
}

#outercol{
    width: 50%;
    vertical-align: top; 
}

#ItemTable{
    width: 100%;
    border-collapse: collapse;
}

#MaterialsHeader{
    display: flex;
    height: 30px;
    align-items: center;
}
#MaterialsHeader h2{
    color: #063781;
    font-weight: 500;
    line-height: 10px;
}
#MaterialsHeader button{
    font-weight: bolder;
    border: none;
    color: #073881;
    background-color: white; 
    margin-left: auto;
    font-size: 17px;
}
#MaterialsHeader button:hover{
    scale: 1.15;
}

#ItemTable th{
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    line-height: 10px;
    background-color: #065DB0;
}

#ItemTable td{
    color: #073881;
    align-items: center;
    text-align: center;
    line-height: 0px;
}

#ItemTable td button{
    font-weight: bolder;
    font-size: 15px;
    border: none;
    color: #073881;
    background-color: transparent; 
}
#ItemTable td button:hover{
    scale: 1.2;
}

#itemQty {
    height: 10px;
    display: flex; /* Use flexbox layout */
    align-items: center;
    justify-content: center; 
}



#outercol form input[type="text"],
input[type="date"],
input[type="time"]
{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 100%;
    border: 2px solid #e2e2e2;
    font-size: 14px;
    margin-bottom: 16px;
}


#outercol label{
    color: #073881;
}

#Messageinput{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    width: 100%;
    height: 120px;
    border: 2px solid #e2e2e2;
    font-size: 14px;
    resize: none;
}

#outercol span{
    display: flex;
}

#submitbtn{
    position: absolute;
    right: 270px;
    background-image: linear-gradient(90deg, #0091E2, #0A4194);
    border: none;
    width: 400px;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    color: #fff;
    margin-top: 10px;
}

#submitbtn:hover{
    background-image: linear-gradient(90deg, #0674b5, #02275e);
}

#ReturnBtn{
    color: #02275e;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 0px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-items: center;
    margin-top: 20px;
    margin-left: 10px;
    transition: scale 0.2s;
}

#ReturnBtn:hover{
    scale: 1.1;
}
#arrowimg{
    height: 30px;
}




/* Adding Material Area */
#DarkBlur{
    background-color: #000000;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.6;
}

#AddingMaterialsForm{
    width: 100%;
    position: absolute;
    height: 100%;
        
    overflow: hidden;
    display: none; /*SET NONE IF DEPOY*/
    justify-content: center; 
    align-items: center;   
}

#MaterialsForm{
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    
    border-radius: 1vw;
    height: 530px;
    width: 600px;
    background-color: #fff;
}

#exitbtn{
    font-weight: bold;
    position: absolute;
    border: none;
    background-color: #8b0606;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    transition: background-color 0.2s;
}

#exitbtn:hover{
    background-color: #590303;
}

#SearchBoxForItem{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    height: 30px;
    width: 500px;
    border: 2px solid #e2e2e2;
    font-size: 14px;
}

#scanqrbtn{
    margin-left: 10px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    justify-content: center; 
    align-items: center;
    padding: 5px;
    transition: background-color 0.2s;
}
#scanqrbtn:hover{
    background-color: #dedddd;
}
#qr_icon{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 20px;
}

#SearchbarAndQR{
    display: flex;
    justify-content: center; 
    align-items: center;
}



#ModelComboBox,
#CategoryComboBox{
    margin-top: -100px;
    background-color: #275fb3;
    border: 3px solid #fff; 
    border-radius: 12px;
    padding: 5px;
    width: 150px; 
    color: #fff;
}


#QRFormScanner{
    width: 100%;
    position: absolute;
    height: 100%;
        
    overflow: hidden;
    display: none;  /*SET NONE IF DEPOY*/
    justify-content: center; 
    align-items: center;   
}


#QReeexitbtn{
    font-weight: bold;
    position: absolute;
    border: none;
    background-color: #8b0606;
    color: #fff;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    right: 35%;
    top: 24%;
    transition: background-color 0.2s;
}

#QReeexitbtn:hover{
    background-color: #590303;
}



#WarningSign {
    background: #fefefe;
    position: absolute;
    width: 500px;    
    height: 350px;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: end; 
}
#WarningSign img{
    width: 120px;
    top: 60px;
    position: absolute;
}
#WarningText{
    width: 400px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
}
#WarningResponseBtn{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
    background-color: #e7cb3f;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}
#ColoredAreaaa{
    background-color: #e7cb3f;
    width: 100%;
    height: 50px;
    top: 0;
    position: absolute;
}









