body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 3000px;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}

* { /*Set sizing perfect. */
    box-sizing: border-box; /* Apply to all elements */
}

/* Top Navigation */
#TopNavBar{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start; 
    z-index: 100; 
}

#NavButtons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

#SRCB_BackgroundIMG{
    opacity: 0.1;
    position: absolute;
    right: -2.3%;
    top: -270%;
    height: 900%;
}

#ManageIT_NavLogo{
    position: relative;
    height: 50px;
    left: 13%;
}

.simpleNav_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    background-color: transparent;
    border: transparent;
    height: 35px;
    right: 13%;
}

#AdvanceNav_btn{
    color: #007fc8;
    background-color: #fff;
    border-radius: 50px;
    width: 130px;
}
/* Top Navigation */






/* Hero Section */
#Hero{
    background-image: url(../../Assets/Images/HeroBackImage.png);
    background-size: cover; 
    background-position: 0;
    height: 48vw;
    top: 0;

    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

#HeroTag{
    position: absolute;
    left: 13vw;
}

#ManageitTitle{
    line-height: 25px;
    color: #0094FF;
    font-size: 60px;
}

#HeroSubtitle{
    line-height: 25px;
    font-size: 60px;
    color: #ffffff;
}

#HeroTagline{
    line-height: 25px;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}

.KnowMoreHero_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    width: 150px;
    height: 35px;
}

.ReserveNowHero_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border: 3px solid #ffff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    width: 150px;
    height: 35px;
}
/* #BlurEffect{
    display: inline-block; 
    width: 40vw; 
    height: 30vw; 
    background-color: #0A4194;
    border-radius: 50%; 
    filter: blur(10vw); 
    opacity: 0.9;
    position: relative; 
    z-index: 1; 
    overflow: hidden;
} 

#BlueEffectHero{
    position: absolute;
    background-color: #007fc8;
    opacity: 0.2;
    top: 0;
    height: 120%;
    width: 100%;
}
*/


#LoginForm{
    background-image: url(../../Assets/Images/LoginForm.png);
    background-size: cover;
    border-radius: 30px;
    margin-right: 13%;
    height: 350px;
    width: 500px;
}

#LoginTitle{
    display: flex;
    align-items: center;
}
#SrcbLogoLogin{
    height: 70px;
}

#LoginForm h1{
    line-height: 60px;
    background: linear-gradient(180deg, #0091E2, #1757b8);
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
    margin-left: 120px;
}

#LoginForm form input[type="text"]{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    width: 90%;
    height: 45px;
    margin-left: 5%;
    margin-bottom: 20px; 
    border: 2px solid #e2e2e2;
    font-size: 16px;
}

#loginbtnhero {
    border-radius: 15px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border: 2px solid #e2e2e2;
    background-image: linear-gradient(90deg, #0091E2, #0A4194);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
/* Hero Section */








/* About Us Section */

#AboutUsSection{
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
}
#AboutUsTexts{
    width: 500px;
}
#AboutUsSection h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
#CurveShape1{
    z-index: -10;
    position: absolute;
    top: 30vw;
    left: 30vw;
    height: 55vw;
}