body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 2500px;
    background-color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

* { /*Set sizing perfect. */
    box-sizing: border-box; /* Apply to all elements */
}

/* Top Navigation */
#TopNavBar{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start; 
    z-index: 100; 
}

#NavButtons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

#SRCB_BackgroundIMG{
    opacity: 0.1;
    position: absolute;
    right: -2.3%;
    top: -270%;
    height: 900%;
}

#ManageIT_NavLogo{
    position: relative;
    height: 50px;
    left: 13%;
}

.simpleNav_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    background-color: transparent;
    border: transparent;
    height: 35px;
    right: 13%;
    transition: scale 0.2s;
}
.simpleNav_btn:hover{
    scale: 1.1;
}

#AdvanceNav_btn{
    color: #007fc8;
    background-color: #fff;
    border-radius: 50px;
    width: 130px;
    transition: 0.3s;
}
#AdvanceNav_btn:hover{
    scale: 1;
    color: #fff;
    background-color: #0A4194;
}
/* Top Navigation */






/* Hero Section */
#Hero{
    background-image: url(../../Assets/Images/HeroBackImage.png);
    background-size: cover; 
    background-position: 0;
    height: 50vw;
    top: 0;

    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

#HeroTag{
    position: absolute;
    left: 13vw;
}

#ManageitTitle{
    line-height: 25px;
    color: #0094FF;
    font-size: 60px;
}

#HeroSubtitle{
    line-height: 25px;
    font-size: 60px;
    color: #ffffff;
}

#HeroTagline{
    line-height: 25px;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}

.KnowMoreHero_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    width: 150px;
    height: 35px;
}
.KnowMoreHero_btn:hover{
    background-image: linear-gradient(-90deg, #0373b4, #062b62);
}

.ReserveNowHero_btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border: 3px solid #ffff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    width: 150px;
    height: 35px;
    transition: 0.3s;
}
.ReserveNowHero_btn:hover{
    background-color: #ffff;
    color: #1e1e1e;
}
/* #BlurEffect{
    display: inline-block; 
    width: 40vw; 
    height: 30vw; 
    background-color: #0A4194;
    border-radius: 50%; 
    filter: blur(10vw); 
    opacity: 0.9;
    position: relative; 
    z-index: 1; 
    overflow: hidden;
} 

#BlueEffectHero{
    position: absolute;
    background-color: #007fc8;
    opacity: 0.2;
    top: 0;
    height: 120%;
    width: 100%;
}
*/


#LoginForm{
    background-image: url(../../Assets/Images/LoginForm.png);
    background-size: cover;
    border-radius: 15px;
    margin-right: 13%;
    height: 350px;
    width: 500px;
}

#LoginTitle{
    display: flex;
    align-items: center;
}
#SrcbLogoLogin{
    height: 70px;
}

#LoginForm h1{
    line-height: 60px;
    background: linear-gradient(180deg, #0091E2, #1757b8);
    font-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
    margin-left: 120px;
}

#LoginForm form input[type="text"]{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    width: 90%;
    height: 45px;
    margin-left: 5%;
    margin-bottom: 20px; 
    border: 2px solid #e2e2e2;
    font-size: 16px;
}

#loginbtnhero {
    border-radius: 15px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border: 2px solid #e2e2e2;
    background-image: linear-gradient(90deg, #0091E2, #0A4194);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.loginbtnhero:hover{
    background-image: linear-gradient(-90deg, #0373b4, #062b62);
}
/* Hero Section */








/* About Us Section */

#AboutUsSection{
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    overflow: hidden;
    
}


#CurveShape1{
    z-index: -10;
    position: inherit;
    margin-top: -15vw;
    margin-right: -68vw;
    height: 55vw;
}

#AboutUsTexts{
    position: absolute;
    left: 13vw;
    width: 480px;
    color: #0A4194;
}

.ContactUsBtn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    width: 150px;
    height: 35px;
}
.ContactUsBtn:hover{
    background-image: linear-gradient(-90deg, #0373b4, #062b62);
}

#AboutUsSection h1{
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
}

#AboutUsSection p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


#AboutUsSection video{
    margin-right: 13%;
    border-radius: 10px;
    height: 350px;
    width: 500px;
    background-color: #131313;
}


/* About Us Section */








/* How To Use Section */

#HowToUseSection{
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

#HowToUseText{
    margin-right: 13%;
    width: 480px;
    color: #0A4194;
}

.GetstartedBtn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    width: 150px;
    height: 35px;
}
.GetstartedBtn:hover{
    background-image: linear-gradient(-90deg, #0373b4, #062b62);
}

#HowToUseSection h1{
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
}

#HowToUseSection p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


#HowToUseSection video{
    position: absolute;
    left: 13vw;
    width: 480px;
    border-radius: 10px;
    height: 350px;
    width: 500px;
    background-color: #131313;
}

/* How To Use Section */








/* Contact Us Section */
#ContactUsSection{
    height: 600px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#ContactUsSection h1{
    color: #0A4194;
    line-height: 10px;
    font-size: 37px;
}

#ContactUsForm{
    overflow: hidden;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    height: 350px;
    width: 650px;
}


#ContactFillupArea{
    display: flex;
    flex-direction: column; 
    z-index: 1;

    width: 50%;
    height: 100%;
    background-color: #0663B5;
}
#ContactUsForm h1{
    padding-top: 33px;
    margin-left: 20px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 24px;
}


#ContactFillupArea form input[type="text"],
#ContactFillupArea form input[type="email"]
{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    width: 90%;
    height: 32px;
    margin-bottom: 13px; 
    border: 2px solid #e2e2e2;
    font-size: 14px;
}
#Messageinput{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    width: 90%;
    height: 120px;
    margin-bottom: 13px; 
    border: 2px solid #e2e2e2;
    font-size: 14px;
    resize: none;
}
#SubmitBtnContact{
    border-radius: 8px;
    height: 30px;
    width: 100px;
    background-color: #fff;
    color: #005586;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
#SRCB_BackgroundIMG_Contacts{
    opacity: 0.1;
    height: 500px;
    margin-top: -70px;
    margin-left: -180px;
}

#AreaToFill{
    position: inherit;
    width: 100%;
    height: 100%;
}

#FillupContactsArea{
    position: relative;
    top: -450px;
}

#ContactsArea{
    height: 335px;
    width: 310px;
    position: relative;
    top: -790px;
    left: 330px;
}
#ContactsArea{
    padding-top: 20px;
    padding-left: 15px;
}
#ContactsArea h2{
    margin-bottom: 30px;
    font-size: 20px;
    color: #0A4194;
}
#ContactsArea span{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #0A4194;
}
#ContactsArea a{
    padding-left: 10px;
    font-size: 14px;
}
#contact_icons{
    height: 30px;
}
/* Contact Us Section */







/* Footer Section */
#FooterSection{
    width: 100%;
    height: 270px;
    background-image: linear-gradient(-90deg, #0091E2, #0A4194);
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;

}

#FooterLogos{
    height: 70px;
}

#FooterSection Table{
    width: 100%;
    margin-top: 10px; 
}

#FooterSection h1{
    line-height: 5px;
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 600;
}
#FooterSection a{
    line-height: 30px;
    color: #efefef;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.2s;
    text-decoration: none; 
}
#FooterSection a:hover{
    color: #c4c4c4;
}
#FooterSection h2{
    margin-top: 30px;
    line-height: 30px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 400;
}
#FooterSection td{
    text-align: center; /* Center align text horizontally */
    vertical-align: top;
    width: 33.33%;
}
/* Footer Section */